<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Sporz</title>
</head>
<body>
<div id="app" v-if="socket != null" class="container my-5">
  <div id="reportModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Report</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p v-html="reportContent"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" v-if="user != null && false">
    <button class="btn btn-primary my-2" id="close_socket" v-on:click="closeSocket">Close socket</button>
  </div>
  <div id="login" v-if="user == null">
    <div class="row">
      <div class="col-auto">
        <label for="username" class="col-form-label">Username</label>
      </div>
      <div class="col-auto">
        <input v-model="username" @keyup.enter="login" type="text" id="username" class="form-control">
      </div>
      <div class="col-auto">
        <button class="btn btn-primary" id="login_button" v-on:click="login">Login</button>
      </div>
    </div>
  </div>
  <div v-if="user != null">
    <div>
      <h1>Logged as {{ user.name }}
        <button v-if="currentGame && currentGame.started && user.id === currentGame.admin.id" class="btn btn-primary" id="delete_game_button" v-on:click="deleteGame(currentGame)">Delete Game</button>
      </h1>
    </div>
    <div v-if="!currentGame">
      <div v-if="user != null">
        <h1>Games</h1>
        <div v-if="games.length != 0" class="row row-cols-1 row-cols-md-3 g-4">
          <div v-for="game in games" class="col">
            <div class="card">
              <div class="card-header" v-bind:class="{ 'bg-success': game.started }">
                <h5 class="card-title">{{ game.name }} ({{ game.users.length }}/{{ game.minNumberOfPlayer }})
                  <button v-if="game.admin.id === user.id" v-on:click="deleteGame(game)" type="button"
                          class="btn-close float-end" aria-label="Close"></button>
                </h5>
              </div>
              <div class="card-body">
                <p>Admin: {{ game.admin.name }}</p>
                <p>{{ game.users.map(x => x.name).join(', ') }}</p>
                <button v-if="!game.users.map(x => x.id).includes(user.id) && !game.started" type="button"
                        class="btn btn-primary" v-on:click="joinGame(game)">Join
                </button>
                <button v-if="game.admin.id === user.id && game.users.length >= game.minNumberOfPlayer && !game.started"
                        type="button" class="btn btn-primary" v-on:click="startGame(game)">Start game
                </button>
              </div>
            </div>
          </div>
        </div>

        <p v-else>No games</p>

        <div class="row my-3">
          <div class="col-auto">
            <label for="new_game" class="col-form-label">New game</label>
          </div>
          <div class="col-auto">
            <input v-model="newGameName" @keyup.enter="newGame" type="text" id="new_game" class="form-control">
          </div>
          <div class="col-auto">
            <button class="btn btn-primary" id="new_game_button" v-on:click="newGame">New game</button>
          </div>
        </div>
      </div>
      <div class="my-3" v-if="users.length != 0">
        <h1>Lobby</h1>
        <table class="table table-responsive align-middle table-striped">
          <tbody>
          <template v-for="usr in users">
            <tr>
              <th v-bind:style="[usr.name === user.name ? {'text-decoration': 'underline'} : {'text-decoration': 'none'}]">
                {{ usr.name }} ({{ usr.id.substring(0, 4) }})
              </th>
            </tr>
          </template>
          </tbody>
        </table>
      </div>
    </div>
    <div v-if="currentGameReady">
      <p>
        Your role(s): {{ thisAstronaut.roles.join(', ') }}
        <span v-if="thisAstronaut.mutated"><br/>You were mutated this this night. You're now one of the bad guys (duh)</span>
        <span v-if="thisAstronaut.brain_washed"><br/>You were brainwashed this night. It might no be the best moment to tell the Psychologist about the last time you wet your bed</span>
        <span v-if="thisAstronaut.healed"><br/>You were healed this night. You can tell by the stethoscope that was forgotten on your nightstand</span>
      </p>
      <h1>Turn of role: {{ currentPhaseDisplay }}</h1>
      <div v-if="thisAstronaut.alive && (currentGame.phase.role == 'Any' || (!thisAstronaut.paralysed && thisAstronaut.roles.includes(currentGame.phase.role) && !thisAstronaut.inactive_roles.includes(currentGame.phase.role)))">
        <div class="list-group" v-if="!turnIsOver ">
          <button v-on:click="select(opt.value)" v-for="opt in currentPromptOptions.options"
                  v-bind:class="{ 'disabled': opt.disabled, 'active': selected && selected==opt.value }"
                  class="list-group-item list-group-item-action">{{ opt.prompt }}
          </button>
        </div>
        <template v-for="action in currentPromptOptions.actions">
          <button v-if="!turnIsOver" type="button" class="btn btn-primary m-1" v-on:click="validateAction(action)">{{
            action.prompt }}
          </button>
        </template>
        <button v-if="turnIsOver" type="button" class="btn btn-primary m-1" v-on:click="endTurn()">Ready for next
          phase
        </button>
      </div>
      <div v-else>
        <p v-if="thisAstronaut.paralysed">You've been paralysed, close your eyes.</p>
        <p v-else-if="thisAstronaut.roles.includes('Mutant') && thisAstronaut.roles.includes('Doctor')">You've been
          mutated, close your eyes</p>
        <p v-else-if="thisAstronaut.killed"><br/>You were killed this night. Keep your eyes closed until the vote
          phase. Why am I talking to a corpse....</p>
        <p v-else-if="!thisAstronaut.alive"><br/>U ded</p>
        <p v-else>You are sleeping</p>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
<!--<script src="https://fr.vuejs.org/js/vue.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="script.js"></script>
<!--<script src="sporz/script.js"></script>-->
</body>
</html>
