<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Sporz - Operator</title>
</head>
<body>
<div id="app" v-if="socket != null" class="container my-5">
  <div v-if="games.length != 0" class="row row-cols-1 row-cols-md-3 g-4">
    <div v-for="game in games" class="col">
      <div class="card">
        <div class="card-header" v-bind:class="{ 'bg-success': currentGame && game.id == currentGame.id }">
          <h5 class="card-title">{{ game.name }} ({{ game.users.length }}/{{ game.minNumberOfPlayer }})</h5>
        </div>
        <div class="card-body">
          <p>Operators: {{ game.operators.map(x=>x.name).join(', ') }}</p>
          <button v-if="!game.operators.map(x => x.id).includes(user.id)" type="button"
                  class="btn btn-primary" v-on:click="joinGame(game)">Join as operator
          </button>
          <button v-if="game.operators.map(x => x.id).includes(user.id) && currentGame != game" type="button"
                  class="btn btn-primary" v-on:click="followGame(game)">Follow this game
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="text-center" v-if="currentGame && currentGame.started">{{ currentGame.phase.name }}</h1>
  </div>
</div>
<!--<script src="https://fr.vuejs.org/js/vue.js"></script>-->
<script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="script_operator.js"></script>
<!--<script src="sporz/script_operator.js"></script>-->
</body>
</html>
