<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>Sporz</title>
</head>
<body>
<div id="app" class="container">
  <div id="login">
    <button class="btn btn-primary" id="login_button" v-on:click="login">Login</button>
    <button class="btn btn-primary" id="mega_login" v-on:click="mega_login">Mega login</button>
    <button class="btn btn-primary" id="mega_join" v-on:click="join_all">Join all</button>
    <button class="btn btn-primary" v-if="logged.length != 0" v-on:click="getLobbyInfo(logged[0])">Get lobby info
    </button>
    <button class="btn btn-primary" id="save_server" v-on:click="save_server">Save</button>
  </div>
  <table class="table table-responsive align-middle table-striped">
    <tbody>
    <template v-for="user in logged">
      <tr>
        <th>
          {{ user.name }}<span v-if="'roles' in user"> ({{ user.roles.join(', ') }})</span><span v-if="operator == user.id"> (Operator)</span>
        </th>
        <td>
          <button class="btn btn-primary" v-if="!game" v-on:click="createGame(user)">Create game</button>
          <button class="btn btn-primary" v-if="game && !inGame.includes(user.id) && operator != user.id" v-on:click="joinGame(user)">Join game</button>
          <button class="btn btn-primary" v-if="game && !operator && !game.started" v-on:click="joinGameOperator(user)">Join game as Operator</button>
          <button class="btn btn-primary" v-if="game && user.id == game.admin.id && !game.started" v-on:click="startGame(user)">Start game</button>
<!--          <button class="btn btn-primary" v-if="game && game.started" v-on:click="getGameInfo(user)">Get game info</button>-->
          <a class="btn btn-primary" :href="`index.html?username=${user.name}`" target="_blank" v-on:click="getGameInfo(user)">Open in client</a>
          <embed v-if="user.roles && phase && (user.roles.includes(phase.role) || phase.role === 'Any')" :src="`index.html?username=${user.name}`" style="width:100%; height: 300px;">
        </td>
      </tr>
    </template>
    </tbody>
  </table>
</div>
<script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
<!--<script src="https://fr.vuejs.org/js/vue.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script src="script_tool.js"></script>
<!--<script src="https://biblock.fr/sporz/script_tool.js"></script>-->
</body>
</html>
